
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NhapDiem</title>
</head>
<body>
    <div>
        <form class="form-info" action="" method="post">
            <table>
                <tr>
                    <td>Tên SV</td>
                    <td><input type="text" id="name" name="tensinhvien" value=""></td>
                    <td>Mã SV</td>
                    <td><input type="text" id="kqhtid" name="kqhtid" value="" /></td>

                </tr>
                <tr>
                    <td>TK</td>
                    <td><input type="text" id="tk" name="tk" value=""></td>
                    <td>GK</td>
                    <td><input type="text" id="gk" name="gk" value=""></td>
                    <td>CK</td>
                    <td><input type="text" id="ck" name="ck" value=""></td>
                </tr>
            </table>
            <div class="list-button">
                <button id="btn-add" type="submit" class="btn">Cập nhật</button>
            </div>
        </form>
    </div>
</body>
</html>
