@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a class="nav navbar-nav navbar-right" style="font-size: 1em" 
           href="javascript:document.getElementById('logoutForm').submit()">
            Logout
        </a>
    }
}
